{
    "extends": "airbnb",

    "installedESLint": true,

    "plugins": [
        "react"
    ],

    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    },

    "env": {
      "browser": true
    }
}