$space: 8px;
$white: #ffffff;
$grey: #bbbbba;
$skyblue: #b6e8d9;
$header-height: 150px;
$header-height-sm: 160px;
$secondary-color: #5a58a3;
$bg-color: #1D2A3A;
$mobile: 480px;

// helper classes

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.inline-block {
  display: inline-block;
}

.va-middle {
  vertical-align: middle;
}

.va-bottom {
  vertical-align: bottom;
}

.pos-relative {
  position: relative;
}
