@import 'constants';

form {
  display: flex;
  flex-flow: row wrap;

  @media(max-width: $mobile) {
    display: block;
  }
}

fieldset {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  margin-top: $space * 3;
  padding: 0;
  padding-right: $space * 3 - $space / 2;
  width: 50%;

  @media(max-width: $mobile) {
    width: 100%;
  }
}

.fieldset-sm {
  color: $grey;
  font-size: .8em;
}

label,
.label {
  margin-bottom: $space;

  em {
    color: $grey;
    font-size: .8em;
  }
}

input,
select {
  border: 1px solid #cccccc;
}

input[type=radio] + label {
  margin-left: $space;
}

.input-group {
  box-sizing: border-box;
  padding-right: $space*2;
  vertical-align: middle;

  &:nth-child(2) {
    border-width: 50%;
    padding-top: $space;

    &:before {
      background-color: lighten($secondary-color, 10%);
      content: '';
      display: block;
      height: 1px;
      position: relative;
      top: -$space;
      width: 80%;
    }
  }

  &.input-group-hoverable {
    > div {
      border-radius: $space / 2;
      padding: $space / 2;
      transition: all .3s;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }

  * {
    vertical-align: middle;
  }

  > div {
    margin-bottom: $space / 2;
  }

  .label {
    font-weight: bold;
  }
}
