@import '~normalize.css/normalize.css';
@import 'constants';
@import 'visualizer';

body {
  background-color: $bg-color;
  color: $white;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  @media(max-width: 480px) {
    padding-bottom: $header-height-sm;
  }
}

.container {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 $space * 2;
}


.order {
  display: flex;
  @media(max-width: 480px) {
    display: block;
  }

  .order-form {
    flex: 2;
    @media(max-width: 480px) {
    }
  }

  .order-display {
    background-color: $secondary-color;
    flex: 1;

    @media(max-width: 480px) {
      bottom: 0;
      position: fixed;
      width: 100%;
      z-index: 99;
    }
  }
}

header {
  box-shadow: 0 0 5px darken($secondary-color, 30%);
  box-sizing: border-box;
  padding: $space * 2 0;
  position: relative;

  .container {
    display: block;
    @media(max-width: 480px) {
      display: flex;
      padding-left: 0;
    }
  }

  .drink {
    display: block;
    margin-bottom: $space * 2;
    margin-right: 16px;

    @media(max-width: 480px) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $space;
    }
  }

  .drink-name {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    margin-left: $space * 1.5;
    @media(max-width: 480px) {
      margin-left: 0;
    }
  }

  @media(max-width: 480px) {
    height: $header-height-sm;
    padding: $space 0;
  }
}

form {
  display: flex;
  flex-flow: row wrap;

  @media(max-width: 480px) {
    display: block;
  }
}

fieldset {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  margin-top: $space * 3;
  padding: 0;
  padding-right: $space * 3 - $space / 2;
  width: 50%;

  @media(max-width: 480px) {
    width: 100%;
  }
}

.fieldset-sm {
  color: $grey;
  font-size: .8em;
}

label,
.label {
  margin-bottom: $space;

  em {
    color: $grey;
    font-size: .8em;
  }
}

input,
select {
  border: 1px solid #cccccc;
}

input[type=radio] + label {
  margin-left: $space;
}

.input-group {
  box-sizing: border-box;
  padding-right: $space*2;
  vertical-align: middle;

  &:nth-child(2) {
    border-width: 50%;
    padding-top: $space;

    &:before {
      background-color: lighten($secondary-color, 10%);
      content: '';
      display: block;
      height: 1px;
      position: relative;
      top: -$space;
      width: 80%;
    }
  }

  &.input-group-hoverable {
    > div {
      border-radius: $space / 2;
      padding: $space / 2;
      transition: all .3s;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, .1);
      }
    }
  }

  * {
    vertical-align: middle;
  }

  > div {
    margin-bottom: $space / 2;
  }

  .label {
    font-weight: bold;
  }
}

.part {
  border-radius: $space / 2;
  display: inline-block;
  margin-right: $space;
  padding: $space / 2;
  position: relative;


  > div {
    &:first-child {
      border-bottom: 1px dotted darken($secondary-color, 60%);
      font-size: 1.8em;
      margin-bottom: $space / 2;
      padding-bottom: $space / 2;
      text-align: center;
      @media(max-width: 480px) {
        font-size: 1.2em;
      }
    }

    &:nth-child(2) {
      font-size: .8em;
      opacity: .7;
      text-transform: italic;
      user-select: none;
    }
  }

  .default {
    position: relative;

    &:before {
      background-color: #222222;
      content: '';
      display: block;
      height: 70%;
      margin-top: $space;
      opacity: 1;
      position: absolute;
      top: 0%;
      width: 100%;
    }
  }

  .part-type {
    box-sizing: border-box;
    color: $grey;
    display: none;
    font-size: .8em;
    left: 50%;
    margin-top: $space * 2;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translatex(-50%);
    z-index: 2;

    > span {
      background-color: $white;
      border-radius: $space / 2;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
      display: inline-block;
      padding: $space $space * 3;
      position: relative;
      z-index: 2;
    }

    &:before {
      background-color: $white;
      box-shadow: 0 0 1px rgba(0, 0, 0, .2);
      content: '';
      display: block;
      height: 16px;
      left: 50%;
      position: absolute;
      top: -3px;
      transform: translatex(-50%) rotate(45deg) ;
      width: 16px;
      z-index: 1;
    }
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);

    .part-type {
      display: block;
    }
  }

}

footer {
  background-color: lighten($bg-color, 10%);
  font-size: .8em;
  padding: $space * 1;

  a {
    color: lighten($secondary-color, 20%);
  }
}

.hide-defaults {
  margin: 16px;
  margin-right: 32px;
  position: absolute;
  right: 0;
  top: 0;

  label {
    margin-left: $space / 2;
  }

  @media(max-width: 480px) {
    bottom: 0;
    margin: 8px;
    margin-top: $space;
    top: auto;
  }
}
