@import '~normalize.css/normalize.css';

$space: 8px;
$white: #ffffff;
$skyblue: #b6e8d9;

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  color: #444;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 $space;
}

header {
  background-color: $skyblue;
  // color: $white;
  margin-bottom: 32px;
  padding: $space * 4 0;

}

form {
  display: flex;
  flex-flow: row wrap;

  @media(max-width: 480px){
    display: block;
  }

  fieldset {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: $space * 3;
    padding: 0;
    padding-right: $space * 2;
    width: 50%;
    .input-group:nth-child(2) {
      border-width: 50%;
      padding-top: $space;
      &:before{
        content: '';
        display: block;
        position: relative;
        top: -$space;
        width: 80%;
        height: 1px;
        background-color: rgba($skyblue, 0.6);
      }
    }
    
    @media(max-width: 480px){
      width: 100%;
    }
  }
}

label, 
.label {
  margin-bottom: $space;

  em {
    color: #999999;
    font-size: 0.8em;
  }
}

input,
select {
  border: 1px solid #cccccc;
}

input[type=radio] + label {
  margin-left: $space / 2;
}

.input-group {
  box-sizing: border-box;
  padding-right: $space*2;
  vertical-align: top;

  > div {
    margin-bottom: 8px;
  }

  .label {
    font-weight: bold;
  }
}
