@import '~normalize.css/normalize.css';

$space: 8px;
$white: #ffffff;
$grey: #999999;
$skyblue: #b6e8d9;
$header-height: 120px;

body {
  color: #444444;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  padding-top: $header-height + 16px;

  @media(max-width: 480px) {
    padding-top: $header-height * 1.5 + 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 $space;
}

header {
  background-color: $skyblue;
  box-shadow: 0 0 3px darken($skyblue, 30%);
  box-sizing: border-box;
  height: $header-height;
  padding: $space * 3 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @media(max-width: 480px) {
    height: $header-height * 1.5;;
  }

}

form {
  display: flex;
  flex-flow: row wrap;

  @media(max-width: 480px) {
    display: block;
  }
}

fieldset {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  margin-top: $space * 3;
  padding: 0;
  padding-right: $space * 2;
  width: 50%;

  .input-group:nth-child(2) {
    border-width: 50%;
    padding-top: $space;

    &:before {
      background-color: rgba($skyblue, 0.6);
      content: '';
      display: block;
      height: 1px;
      position: relative;
      top: -$space;
      width: 80%;
    }
  }

  @media(max-width: 480px){
    width: 100%;
  }
}

.fieldset-sm {
  color: $grey;
  font-size: 0.8em;
}

label,
.label {
  margin-bottom: $space;

  em {
    color: #999999;
    font-size: 0.8em;
  }
}

input,
select {
  border: 1px solid #cccccc;
}

input[type=radio] + label {
  margin-left: $space / 2;
}

.input-group {
  box-sizing: border-box;
  padding-right: $space*2;
  vertical-align: top;

  > div {
    margin-bottom: 8px;
  }

  .label {
    font-weight: bold;
  }
}

.part {
  border-radius: $space / 2;
  display: inline-block;
  margin-right: $space;
  padding: $space / 2;
  position: relative;

  > div {
    &:first-child{
      border-bottom: 1px dotted darken($skyblue, 60%);
      font-size: 2em;
      margin-bottom: $space / 2;
      padding-bottom: $space / 2;
      text-align: center;
    }

    &:nth-child(2) {
      font-size: 0.8em;
      opacity: 0.7;
      text-transform: italic;
    }
  }

  .default {
    position: relative;

    &:before {
      background-color: #222222;
      content: '';
      display: block;
      height: 70%;
      margin-top: $space;
      opacity: 1;
      position: absolute;
      top: 0%;
      width: 100%;
    }
  }

  .part-type {
    box-sizing: border-box;
    color: $grey;
    display: none;
    font-size: 0.8em;
    left: 50%;
    margin-top: $space*2;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translatex(-50%);
    z-index: 2;
    
    > span {
      background-color: $white;
      border-radius: $space/2;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      display: inline-block;
      padding: $space $space*3;
      position: relative;
      z-index: 2;
    }

    &:before {
      background-color: $white;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      content: '';
      display: block;
      height: 16px;
      left: 50%;
      position: absolute;
      top: -3px;
      transform: translatex(-50%) rotate(45deg) ;
      width: 16px;
      z-index: 1;
    }
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);

    .part-type {
      display: block;
    }
  }

}

.right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}
