@import 'constants';

.order {
  display: flex;
  @media(max-width: 480px) {
    display: block;
  }

  .order-form {
    flex: 2;
    max-height: 100vh;
    overflow-y: scroll;
    @media(max-width: 480px) {
    }
  }

  .order-display {
    background-color: $secondary-color;
    flex: 1;
    @media(max-width: 480px) {
      bottom: 0;
      position: fixed;
      width: 100%;
      z-index: 99;
    }
  }
}