@import 'constants';

.liquid-container {
  display: inline-block;
  position: relative;
  transform: translate3d(0, 0, 0); //fix z-index issue on Safari

  img {
    position: relative;
    z-index: 3;
  }

  + .label {
    margin-left: $space * 2;
  }
}

.temperature {
  position: absolute;
  top: 0;
}

.num-order {
  position: relative;
}

.liquid {
  bottom: -5px;
  color: $white;
  font-size: .5em;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
  transition: bottom .6s;
  z-index: 0;

  span {
    display: block;
    margin: 0 auto;
    position: relative;

    &.top {
      border-radius: 50%;
      transition: background-color .6s 0s, height .3s;
      z-index: 3;
    }

    &.middle {
      transition: background-color .6s .2s, height .4s;
      z-index: 2;
    }

    &.bottom {
      border-radius: 50%;
      transition: background-color .6s .2s, height .3s;
      z-index: 1;
    }
  }
}
