@import 'constants';

.liquid-container{
  @media(max-width: 480px){
    display: none;
  }

  position: relative;
  display: inline-block;

  img{
    position: relative;
    z-index: 3;
  }

  + .label{
    margin-left: $space * 2;
  }
}

.temperature {
  position: absolute;
  top: 0;
}

.num-order {
  position: relative;
}

.liquid {
  bottom: -5px;
  color: white;
  font-size: 0.5em;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
  z-index: 0;

  span {
    display: block;
    margin: 0 auto;
    transition: all 0.6s;
    &.top {
      z-index: 3;
      transition: background-color 0.6s 0s, height 0.3s;
    }

    &.middle {
      z-index: 2;
      transition: background-color 0.6s 0.2s, height 0.2s;
    }

    &.bottom {
      z-index: 1;
      transition: background-color 0.6s 0.2s, height 0.3s;
    }
  }
}