@import 'constants';

.liquid-container{
  position: relative;
  display: inline-block;
  img{
    position: relative;
    z-index: 3;
  }

  + .label{
    margin-left: $space * 2;
  }
}

.temperature{
  position: absolute;
  top: 0;
}

.num-order{
  position: relative;
}

.liquid{
  bottom: -5px;
  color: white;
  font-size: 0.5em;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translatex(-50%);
  width: 30px;
  z-index: 0;

  span {
    display: block;
    margin: 0 auto;
    transition: all 0.6s;
    &.top {
      z-index: 3;
      transition: background-color 0.6s 0s, height 0.3s;
    }

    &.middle {
      z-index: 2;
      transition: background-color 0.6s 0.2s, height 0.2s;
    }

    &.bottom {
      z-index: 1;
      transition: background-color 0.6s 0.2s, height 0.3s;
    }
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 40px;
    bottom: 0;
    left: 0px;
    z-index: 4;
    transform: rotate(-6deg) translatex(-8px);
    background-color: rgba($bg-color, 1);
  }

  &:after {
    right: 0px;
    left: auto;
    transform: rotate(6deg) translatex(9px);
  }
}